Package: com.twodayslate.anyspot
Name: anyspot
Depends: mobilesubstrate, com.a3tweaks.flipswitch
Version: 0.91
Architecture: iphoneos-arm
Description: Launch Spotlight from anywhere!
Maintainer: twodayslate
Author: twodayslate
Section: Tweaks
