<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Autohide</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>com.twodayslate.anyspot</string>
			<key>key</key>
			<string>anyspot_hidenc</string>
			<key>label</key>
			<string>Notificiation Center</string>
			<key>PostNotification</key>
			<string>com.twodayslate.anyspot/settingschanged</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>com.twodayslate.anyspot</string>
			<key>key</key>
			<string>anyspot_hidecc</string>
			<key>label</key>
			<string>Control Center</string>
			<key>PostNotification</key>
			<string>com.twodayslate.anyspot/settingschanged</string>
		</dict>

		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Hotfixes</string>
			<key>footerText</key>
			<string>If you are having graphical glitches or compatibility issues enable these. Respring may be required.</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>com.twodayslate.anyspot</string>
			<key>key</key>
			<string>anyspot_hotfix_one</string>
			<key>label</key>
			<string>SBSearchView</string>
			<key>PostNotification</key>
			<string>com.twodayslate.anyspot/settingschanged</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.twodayslate.anyspot</string>
			<key>key</key>
			<string>anyspot_hotfix_two</string>
			<key>label</key>
			<string>SBSearchHeader</string>
			<key>PostNotification</key>
			<string>com.twodayslate.anyspot/settingschanged</string>
		</dict>

		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Logging</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.twodayslate.anyspot</string>
			<key>key</key>
			<string>anyspot_logging</string>
			<key>label</key>
			<string>Enable</string>
			<key>PostNotification</key>
			<string>com.twodayslate.anyspot/settingschanged</string>
		</dict>

	</array>
	<key>title</key>
	<string>AnySpot</string>
</dict>
</plist>