<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>anyspot First Page</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>com.twodayslate.anyspot</string>
			<key>key</key>
			<string>hidenc</string>
			<key>label</key>
			<string>Hide NC</string>
			<key>PostNotification</key>
			<string>com.twodayslate.anyspot/settingschanged</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>com.twodayslate.anyspot</string>
			<key>key</key>
			<string>hidecc</string>
			<key>label</key>
			<string>Hide CC</string>
		</dict>
	</array>
	<key>title</key>
	<string>anyspot</string>
</dict>
</plist>