<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>org.thebigboss.anyspot</string>
			<key>key</key>
			<string>anyspot_enabled</string>
			<key>label</key>
			<string>Enabled</string>
			<key>PostNotification</key>
			<string>org.thebigboss.anyspot/settingschanged</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkCell</string>
			<key>label</key>
			<string>Activation Methods</string>
			<key>isController</key>
			<true/>
			<key>bundle</key>
			<string>LibActivator</string>
			<key>activatorListener</key>
			<string>switch-flip.org.thebigboss.anyspot</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Autohide</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>org.thebigboss.anyspot</string>
			<key>key</key>
			<string>anyspot_hidenc</string>
			<key>label</key>
			<string>Notificiation Center</string>
			<key>PostNotification</key>
			<string>org.thebigboss.anyspot/settingschanged</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>org.thebigboss.anyspot</string>
			<key>key</key>
			<string>anyspot_hidecc</string>
			<key>label</key>
			<string>Control Center</string>
			<key>PostNotification</key>
			<string>org.thebigboss.anyspot/settingschanged</string>
		</dict>

		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Blur Background</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>org.thebigboss.anyspot</string>
			<key>key</key>
			<string>anyspot_blurbg</string>
			<key>label</key>
			<string>Enabled</string>
			<key>PostNotification</key>
			<string>org.thebigboss.anyspot/settingschanged</string>
		</dict>

		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Dynamic Header</string>
		</dict>
		
		<dict>
			<key>cell</key>
			<string>PSLinkListCell</string>
			<key>label</key>
			<string>Style</string>
			<key>isController</key>
			<true/>
			<key>detail</key>
        	<string>PSListItemsController</string>
			<key>validValues</key>
			<array>
				<string>2060</string>
				<string>0</string>
				<string>1</string>
				<string>2</string>
			</array>
			<key>validTitles</key>
			<array>
				<string>2060 - Adaptive Light (default)</string>
				<string>0 - Light</string>
				<string>1 - Dark</string>
				<string>2 - Blur</string>
			</array>
			<key>shortTitles</key>
			<array>
				<string>2060</string>
				<string>0</string>
				<string>1</string>
				<string>2</string>
			</array>
			<key>default</key>
			<string>2060</string>
			<key>defaults</key>
			<string>org.thebigboss.anyspot</string>
			<key>key</key>
			<string>header_style</string>
			<key>PostNotification</key>
			<string>org.thebigboss.anyspot/settingschanged</string>
		</dict>

		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Header Alpha</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>org.thebigboss.anyspot</string>
			<key>key</key>
			<string>anyspot_alphabutton</string>
			<key>id</key>
			<string>anyspot_alphabutton</string>
			<key>label</key>
			<string>Enabled</string>
			<key>PostNotification</key>
			<string>org.thebigboss.anyspot/settingschanged</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSliderCell</string>
			<key>default</key>
			<integer>100</integer>
			<key>min</key>
			<integer>0</integer>
			<key>max</key>
			<integer>100</integer>
			<key>defaults</key>
			<string>org.thebigboss.anyspot</string>
			<key>key</key>
			<string>anyspot_alpha</string>
			<key>id</key>
			<string>anyspot_alpha</string>
			<key>label</key>
			<string>Alpha</string>
			<key>showValue</key>
			<true/>
			<key>PostNotification</key>
			<string>org.thebigboss.anyspot/settingschanged</string>
		</dict>
		<dict>
            <key>cell</key>
            <string>PSButtonCell</string>
            <key>label</key>
            <string>Reset</string>
            <key>action</key>
            <string>reset_alpha</string>
        </dict>


		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Legacy Support</string>
			<key>footerText</key>
			<string>If you are having graphical glitches or compatibility issues enable these. Respring may be required.</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>org.thebigboss.anyspot</string>
			<key>key</key>
			<string>anyspot_hotfix_one</string>
			<key>label</key>
			<string>SBSearchView</string>
			<key>PostNotification</key>
			<string>org.thebigboss.anyspot/settingschanged</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>org.thebigboss.anyspot</string>
			<key>key</key>
			<string>anyspot_hotfix_two</string>
			<key>label</key>
			<string>SBSearchHeader</string>
			<key>PostNotification</key>
			<string>org.thebigboss.anyspot/settingschanged</string>
		</dict>

		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Respring</string>
			<key>footerText</key>
			<string>This may be required for some changes to take effect.</string>
		</dict>
		<dict>
            <key>cell</key>
            <string>PSButtonCell</string>
            <key>label</key>
            <string>Respring</string>
            <key>id</key>
            <string>respring</string>
            <key>action</key>
            <string>respring</string>
        </dict>

		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Logging</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>org.thebigboss.anyspot</string>
			<key>key</key>
			<string>anyspot_logging</string>
			<key>label</key>
			<string>Enable</string>
			<key>PostNotification</key>
			<string>org.thebigboss.anyspot/settingschanged</string>
		</dict>

	</array>
	<key>title</key>
	<string>AnySpot</string>
</dict>
</plist>